/* 
#E93B81
#F5ABC9
#B6C9F0
#B6C9F0
*/
html{
    scroll-behavior: smooth;
}
.container-fluid {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3%;
}
.navbar-brand {
    font-weight: 700;
    font-family: 'Fuggles', cursive;
    font-size: 400%;
    color:#FFE5E2;
    margin-top: 2%;
}
.nav-item {
    font-size: 1.2rem;
}
#main-page {
    background-color:#E93B81;
    padding-bottom: 15%;
}
.title{
    margin-top: 5%;
    
}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 2;
    color:#FFE5E2;
    margin-top: 7%;
}



.main-btn {
    margin-top: 5%;
    margin-right:1.5%;
}
.title-img{
   margin-left: 7rem;
   height:auto;
   width: 60%;
   margin-top: 3%;
}

.skill-img {
    width: 30%;
    height: auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size:200%;
        font-weight:500;
        line-height:1.5;
    }
    .title-img {margin-left: 4rem;}
    .main-btn{margin-top: 10%; margin-bottom: 5%;}
}

/* Skills section  */

#skills {
    padding-bottom: 10%;
    text-align: center;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight:700;
    margin-top: 4rem;
    margin-bottom: 20px;
}
.skills-para {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3.5rem;
    padding-bottom: 3rem;
    font-size: 20px;
}
.skill-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 15px;
}
@media only screen and (max-width: 600px) {
    .skills-para {
        font-family: "Montserrat", sans-serif;
        margin-bottom: 3.5rem;
        padding-bottom: 3rem;
        font-size: 15px;
    }
}
/* Project section  */

#my-project {
    text-align:center;
    background-color:#E93B81;
    padding-bottom: 100px;
    
}
.pro-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight:700;
    margin-top: 4rem;
    margin-bottom:50px;
    color: #FFE5E2 !important;

}
h3{
    color: #FFE5E2;
    text-decoration: none;
    
}
.project-para{
    color: #FFE5E2;
}
.play-btn {
    width:50px;
    position: relative;
    top: -35%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
.col-lg-4:hover .play-btn
{
    opacity: 1;
}
.projects-title{
    color: #FFE5E2 !important;
}
.modal-content{
    background: transparent !important;
    border: none;

}


h4{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    color: #FFE5E2;
    margin-left: 50px;
    

}


.col1 {
    margin-top:30px;
}
.col2 {
    margin-top:30px;
    
}

.about-us-heading {
    text-align: center;
}
.about-img {
    width: 10%;
    height: auto;
}
.abs{
    text-align: center;
}
.about-name{
    color: rgb(10, 10, 10);

}
.my-name{
    color: #E93B81;
}
.about-para{
    font-size:120%;
    padding-left:10%;
    padding-right:10%;
}
@media only screen and (max-width: 600px){
    .about-para{
        font-size:105%;
    }
}
 
    
#foot-er{
    height: 150px;
    width: auto;
    background-color: #E93B81;
}
.footer-links{
    text-align: center;
    padding-top: 70px;
    color: #fff;
}



#contact-page{
    text-align: center;
    background-color: #E93B81;
    margin-top: -5%;
}


  .contact-heading {
     color: #fff;
     font-family: 'Ubuntu', sans-serif;
  }

.con-stack{padding: 5%;}

.list-cont {
  font-size:1.4rem;
  color: rgb(32, 32, 32);
}

.in:hover{color:#e628a9;}
.em:hover{color:#e90d2e;}
.wh:hover{color:#4FCE5D;}

  @media only screen and (max-width: 600px) {
    #contact-page {height: 120vh; margin-top: -15%;}
    .con-stack{padding-left: 10%; padding-right: 10%;}
    .contact-heading {padding-top:20%;}
}

@media only screen and (max-width: 400px){
  #contact-page{height:150vh; margin-top: -15%;}
}
